.blog-content{

}

.left-area{
	height:300px;
	border:solid 1px black;
}
.right-area{
	height:300px;
	border:solid 1px black;
}

.widget-container{
	margin:10px;
    background-color:#6A6A6A;
}

.widget-container .widget-container-title{
    background-color:#999797;
    padding:10px 10px;
    font-size:16px;
    color:#F9F9F9;
}

.widget-container .widget-container-body{
    height:auto;
	padding:5px 10px;
}

.widget-container-body a{
    color:#D8D8D8;
	line-height:30px;
	cursor:pointer;	
}

.widget-calendar{
	height:auto;
}



/***overide css***/
.ui-datepicker {
	width:auto;
}

.ui-corner-all{
    border-radius:0 !important;
}

.ui-widget-content 
{
    background:#6A6A6A !important;
}

/**latest comment list**/
.latest-comment-item{
    border-bottom:solid 1px #999797;
    padding:5px 10px;
    margin:0 -10px;
}

.latest-comment-item p{
   margin:0;
   line-height:24px;
}

.latest-comment-item:last-child{
    border-bottom:0;
}

.latest-comment-item .comment-title{
    margin-bottom:2px;
}

.latest-comment-item .comment-content{
    max-height:24px;
    overflow:hidden;
}

.latest-comment-item .comment-user{
    text-align:right;
}