body {
    margin: 0;
    background-color: #000000;
    color: #D8D8D8;
}

.blog-container {
    background:url(../images/black_bg.png);
}

.full-width-container {
    width: 100%;
}

.blog-title-container {
    color: #D8D8D8;
}

.blog-title {
    font-family: 'Microsoft YaHei';
    padding: 20px 10px;
}

    .blog-title .title-text {
        font-size: 30px;
    }

    .blog-title .description-text {
        font-size: 16px;
        margin-left: 100px;
    }

.navigation {
    background-color: #6A6A6A;
}

    .navigation ul {
        margin: 0;
    }

        .navigation ul li a {
            padding: 24px 32px;
            font-size: 24px;
            cursor: pointer;
            display: inline-block;
            color: #D8D8D8;
        }

            .navigation ul li a:hover {
                text-decoration: none;
                background-color: #AAA9A9;
                color: #EFEDED;
            }

.blog-body-container{
    min-height:700px;
}

.blog-footer-container{
    background-color:#6A6A6A;
}

.blog-footer {
    color:#FFFFFF;
    padding:20px;
}

    .blog-footer p {
        text-align: center;
        margin:0px;
    }
