.blog-content{

}

.left-area{
	height:300px;
	border:solid 1px black;
}
.right-area{
	height:300px;
	border:solid 1px black;
}

.widget-container{
	margin:10px;
	height:auto;
}

.widget-container-border{
    background-color:#6A6A6A;
    border-radius:5px
}

.widget-calendar{
	height:auto;
}

.widget-post-category{
	height:auto;
	padding:5px 10px;
}

.widget-post-category .widget-post-category-title{
	font-weight:bold;
	line-height:30px;

}

.widget-post-category div a{
    color:#D8D8D8;
	line-height:30px;
	cursor:pointer;	
}

/***overide css***/
.ui-datepicker {
	width:auto;
}

.ui-widget-content 
{
    background:#6A6A6A !important;
}