.blog-content{

}

.left-area{
	height:300px;
	border:solid 1px black;
}
.right-area{
	height:300px;
	border:solid 1px black;
}

.widget-container{
	margin:10px;
    background-color:#6A6A6A;
}

.widget-container .widget-container-title{
    background-color:#999797;
    padding:10px 10px;
    font-size:16px;
    color:#F9F9F9;
}

.widget-container .widget-container-body{
    height:auto;
	padding:5px 10px;
}

.widget-container-body a{
    color:#D8D8D8;
	line-height:30px;
	cursor:pointer;	
}

.widget-calendar{
	height:auto;
}



/***overide css***/
.ui-datepicker {
	width:auto;
}

.ui-corner-all{
    border-radius:0 !important;
}

.ui-widget-content 
{
    background:#6A6A6A !important;
}