pre{
    /*border:none;*/
    background-color:#F4F4F4 !important;
}

code{
    background-color:transparent !important;
}

.post-container{
    margin:10px 0;
    height:100%;
}

.post-title{
    text-align:left;
    font-size:20px;
    padding:10px 10px;
    background-color:#DDDDDD;
    margin-right:-15px;
}

.post-title a{
    color:#3B3A3A;
}

.post-content{
    margin:10px;
}