.post-list-container{
	height:auto;
}

.post-list-container .post-item{
	padding:10px 0;
	border-bottom:dashed 1px #DDDDDD;
}

.post-list-container .post-item .post-title{
    padding:5px 10px;
    background-color:#CDCCCA;
	font-weight:normal;
	font-size:18px;
}

.post-title a{
    /*color:#ED4E2A;*/
    color:#3B3A3A;
}

.post-list-container .post-item .post-item-brief{
	margin:10px 0;
    height:160px;
    line-height:25px;
}

.post-list-container .post-item .post-item-detail{
	text-align:right;
	font-size:12px;
}

.post-list-container .post-item .post-item-detail span{
	margin:0 20px;
}

.post-list-container .post-item .post-item-detail .read{
	position:relative;
}
.post-list-container .post-item .post-item-detail .read:before{
	content:"";
	background-image:url("../images/eye.png");
	background-size:16px 16px;
	width:16px;
	height:16px;
	position:absolute;
	left:-18px;
}

.post-list-container .post-item .post-item-detail .comment{
	position:relative;
}
.post-list-container .post-item .post-item-detail .comment:before{
	content:"";
	background-image:url("../images/comment.png");
	background-size:16px 16px;
	width:16px;
	height:16px;
	position:absolute;
	left:-18px;
}
