.post-list-container{
	height:auto;
}

.post-list-container .post-item{
    margin:15px 0;
    padding-bottom:10px;
    background-color:#6A6A6A;
}

.post-list-container .post-item .post-title{
    padding:10px 10px;
    background-color:#999797;
	font-size:16px;
}

.post-title a{
    color:#F9F9F9;
}

.post-title a:hover{
	color:#F9C766;
}

.post-title .edit-link{
	display:inline-block;
	float:right;
	font-size:14px;
	color:#F1E109;
	text-align:right;
}

.post-title .edit-link:hover{
	color:#AFD6F3;
}

.post-list-container .post-item .post-item-brief{
	padding:10px;
    height:160px;
    line-height:25px;
}

.post-list-container .post-item .post-item-detail{
	text-align:right;
	font-size:12px;
}

.post-list-container .post-item .post-item-detail span{
	margin:0 20px;
}

.post-list-container .post-item .post-item-detail .read{
	position:relative;
}
.post-list-container .post-item .post-item-detail .read:before{
	content:"";
	background-image:url("../images/eye.png");
	background-size:16px 16px;
	width:16px;
	height:16px;
	position:absolute;
	left:-20px;
}

.post-list-container .post-item .post-item-detail .comment{
	position:relative;
}
.post-list-container .post-item .post-item-detail .comment:before{
	content:"";
	background-image:url("../images/comment.png");
	background-size:16px 16px;
	width:16px;
	height:16px;
	position:absolute;
	left:-20px;
}

.post-item-hidden{
    visibility:hidden;
}

.post-item-visible{
   visibility:visible;
}
