pre{
    /*border:none;*/
    background-color:#F4F4F4 !important;
}

p{
    line-height:24px;
}

code{
    background-color:transparent !important;
}

.post-container{
    margin:10px 0;
}

.post-title{
    text-align:left;
    font-size:18px;
    border-bottom: dotted 1px #358A07;
    padding:5px;
    margin:10px 0;
}

.post-title a{
    color:#D8D8D8;
}

.post-content{
    margin:10px 0px;
}

.post-content p{
    margin:0;
}