@using UniqueBlog.Web.Extensions

@model UniqueBlog.Controllers.Models.ViewModels.HomeViewModel

<div id="blogPostList">
    @*@{Html.RenderAction("PostList", "BlogPost", new { page = Model.Page });}*@
</div>

@section scripts
{
    @Html.RenderRequireJS("/app/home/home")
}