@using UniqueBlog.Web.Extensions
@model UniqueBlog.Controllers.Models.ViewModels.PostViewModel

<link href="~/vendor/ckeditor/4.6.0/plugins/codesnippet/lib/highlight/styles/vs.css" rel="stylesheet"/>
<link href="~/css/post.css" rel="stylesheet" />
<link href="~/css/predefined-post-extra-style.css" rel="stylesheet" />

@section scripts
{
    @Html.RenderRequireJS("/app/post/post")
}

<div class="post-container">
    <div class="row">
        <div class="col-md-12">
            <div class="post-title"><a href="@Request.Url.PathAndQuery">@Model.PostTitle</a></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="post-content">
                @(new HtmlString(Model.PostContent))
            </div>
        </div>
    </div>
    <div class="row">

    </div>
</div>